<div class="jumbotron">
    <div class="row">
        <h1>Burger App</h1>
    </div>
    <div class="row">
        <img class='logo' src='public/assets/img/burgerFull.png'>
    </div>
    <div class="row">
        <form action="/burgers" method="POST">
            <input type="text" id="name" name="burger_name" placeholder="Enter a burger!">
            <button type="submit" class="addBurgerButton">Add Burger</button>
        </form>
    </div>
</div>


<div class="main-container">
    <div class="col s6">
        {{#each burgers}}
        {{#unless this.devoured}}
    </div>
    <form action="/burgers/{{this.id}}?_method=PUT" method="post">
        <button type="submit" class="burgerAvailable"> {{this.burger_name}}</button></form>
    <div class="col s6">
        {{#each burgers}}
        {{#if this.devoured}}
        <div class="burgerEaten">
            {{this.burger_name}}
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>