.jumbotron {
  text-align: center;
  padding: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Racing Sans One', cursive;
}

body {
  background: linear-gradient(360deg, #fceabb, #f8b500);
}

#burgers {
  text-align: center;
}

#burgertop, #burgerbottom {
  max-width: -webkit-fill-available;
}

#devour {
  background-color: brown;
  width: 70%;
  height: 55px;
  border: black solid 4px;
  border-radius: 24px;
}

.burgerpatty {
  font-family: 'Gloria Hallelujah', cursive;
  color: red;
  font-weight: bold;
}